body{
    background-color: #E3E6E6;
}
.str{
    background-color: #E3E6E6;
}
@media (min-width:1325px) {
    .search-o{
        width: 600px;
    }
}
@media screen and (max-width:768px){
    .dropdown-list{
        max-height: 150px;
        overflow-y: auto;
    }
}
@media screen and (max-width:991px){
    .bg-black-color{
        background-color: black;
    }
    #mb{
        text-align: center;
    }
}
@media screen and (min-width:991px){
    .car-s{
    height: 45vh;
}

.link-c{
    color: #007185;
}
.btn1:hover{
    border-color: #FFFF;
}
}
 .btn1::after{
    border-bottom: white;
}
 .card {
    flex: 0 0 auto;
} 
.decoration{
    text-decoration: none;
}
.decoration:hover{
    color:#C95929;
    text-decoration: underline;
}
.h250{
    height: 150px;
}
.H{
    background-color:#37475A;
}
.H:hover{
    background-color:#485769;
}
.wh{
    text-decoration: none;
    color: white;
}
.wh:hover{
    text-decoration: underline whitesmoke;
}
